h1 {
    color: black;
    text-align: center;
    font-family: "Palatino";
    font-size: 100px;
    background-color: rgb(245, 245, 245);
    margin-top: -8px;
    margin-right: -50px;
    margin-left: -50px;
    text-shadow: 3px 3px silver;
}
h1 a{
    text-decoration: none;
    color: black;
}
h3 {
    font-family: "Palatino";
}
div.container {
    background-color: white;
    border-radius: 30%;
    width: 150px;
    height: 150px;
    box-shadow: 10px;
    display: -webkit-inline-flex;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin-top: 8px;
    margin-left: 15px;
}
img {
    width: 100px;
    height: 100px;
}
.caption {
    display: block;
    font-family: "Palatino";
    font-size:20px;
}
.caption1 {
    display: block;
    font-family: "Palatino";
    font-size:17px;
}
#redirect{
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-family: "Arial";
    text-shadow: 3px 3px black;
    transition: 0.2s;
}
#redirect:hover{
    color:silver;
    text-decoration: none;
    transform: scale(1.1);
}
.image-cropper {
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 150px;
    opacity: .60;
}
.gif-cropper {
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
.topnav {
    overflow: hidden;
    margin-top: -75px;
}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
.right{
      display: block;
      float: right;
      width: 50%;
      height: 100px;
  }
.right-image {
    height: 70px;
    margin: 30px;
}
  .left a{
      float: right;
      height: 70px;
      margin: 15px;
  }
  .left{
    display: block;
    float: left;
    width: 50%;
    height: 100px;
  }
  .resume{
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
.description{
    float: middle;
    font-family: Palatino;
    font-size: 60px;
    background-color: none;
    color: green;
    text-shadow: 3px 3px blueviolet;
    text-align: center;
}
.box1 img {
    height: 400%;
    float: left;
    margin-left: 50px;
}
.description p {
    font-size: 50px;
    color: palegoldenrod;
    text-shadow: 3px 3px red;
}
.box2 img {
    float: right;
    margin-right: 50px;
    height: 400%;
}
#pingpong {
    height: 400%;
}
h4 {
    font-family: "Palatino";
    font-size: 35px;
    color: white;
    margin-top: -30px;
}