h1 {
    color: black;
    text-align: center;
    font-family: "Palatino";
    font-size: 100px;
    background-color: rgb(245, 245, 245);
    margin-top: -8px;
    margin-right: -50px;
    margin-left: -50px;
    text-shadow: 3px 3px silver;
}
#redirect {
    color: rgb(245, 245, 245);
    font-family: "Arial";
    text-decoration: none;
    text-shadow: 3px 3px black;
}
.container1 {
    margin: auto;
    display: block;
}
#redirect:hover{
    color:silver;
    text-decoration: none;
}
.image-cropper {
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 150px;
    opacity: .60;
}
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
.topnav {
    overflow: hidden;
    margin-top: -75px;
}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
.row::after {
    content: "";
    clear: both;
    display: table;
  }
    